/* color veriable */
$white: #ffffff;
$off_white: #69717d;
$off_white_2: #69717d33;
$off_white_3: #30333857;
$black: black;
$navy_black: #141414;
$orange: #ff9d00;
$navy: #002147;

// $light_mode_white:white;
// $light_mode_off_white:#f0f0f0;
// $light_mode_navy:#002147;
// $light_mode_orange:#ff9d00;
/* content_area */
$content_area_height: calc(100vh - 120px);

/* font name */
$Poppins_Thin: "Poppins-Thin";
$Poppins_ExtraLight: "Poppins-ExtraLight";
$Poppins_Light: "Poppins-Light";
$Poppins_Regular: "Poppins-Regular";
$Poppins_Medium: "Poppins-Medium";
$Poppins_SemiBold: "Poppins-SemiBold";
$Poppins_Bold: "Poppins-Bold";
$Poppins_ExtraBold: "Poppins-ExtraBold";
$Poppins_Black: "Poppins-Black";

/* border */
$border: 0px solid red;
