@font-face {
  font-family: 'Poppins-Thin';
  src: url("../fonts/poppins_font/Poppins-Thin.ttf");
}
@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url("../fonts/poppins_font/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/poppins_font/Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/poppins_font/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins-Medium';
  src:url("../fonts/poppins_font/Poppins-Medium.ttf");
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/poppins_font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/poppins_font/Poppins-Bold.ttf");
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("../fonts/poppins_font/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: 'Poppins-Black';
  src: url("../fonts/poppins_font/Poppins-Black.ttf");
}
